"*":
  core:
    audioBeep: false
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
  editor:
    fontFamily: "Inconsolata-dz"
    fontSize: 12
    invisibles: {}
  "exception-reporting":
    userId: "98295608-afca-e050-81cf-334c9c527586"
  metrics:
    userId: "5b8947cb261ad71d62ba10772a0ba4deb6529a7c"
  minimap:
    absoluteMode: true
    charWidth: 1.25
    interline: 2
  "release-notes":
    viewedVersion: "0.89.0"
  "vim-mode": {}
  welcome:
    showOnStartup: false
